.item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #000;
  user-select: none;
  svg {
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.rounded {
  border-radius: var(--border-radius);
}

.design-light {
  svg {
    color: var(--color-darkGrey);
  }
  &:hover {
    background: var(--color-lightGrey);
  }
  &:active {
    background: var(--medium-grey);
  }
  &.current {
    background: var(--medium-grey);
  }
}

.design-brand {
  &:hover {
    color: #fff;
    background: var(--color-brand);
  }
  &:active {
    color: #fff;
    background: var(--color-brand-active);
  }
}

.disabled {
  color: var(--color-darkGrey);
  cursor: default;
  svg {
    color: var(--medium-grey);
  }
  &:hover {
    color: var(--color-darkGrey);
    background: white;
  }
  &:active {
    color: var(--color-darkGrey);
    background: white;
  }
}

.divided {
  margin-top: 20px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    border-top: 1px solid var(--medium-grey);
  }
}
