@mixin reset-input {
  margin: 0;
  padding: 0;

  background: transparent;
  border: 0;
  outline: 0;

  color: inherit;
  font: inherit;

  overflow: visible; /* Show overflow in IE/Edge */

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.input {
  @include reset-input;

  width: 100%;
  max-width: 100%;

  &::placeholder {
    color: var(--ui-color-lightInverseState);
    font-weight: 300;
    opacity: 1;
  }

  &:disabled {
    -webkit-text-fill-color: var(
      --ui-color-disabled
    ); /* Safari pale color bug */
    opacity: 1; /* iOS pale color bug */
  }
}
