{
    "presets": [
        "@babel/preset-env",
        [
          "@babel/preset-typescript",
          {"isTSX": true, "allExtensions": true}
        ]
      ],
      "plugins": [
        "@babel/transform-react-jsx",
        [
          "react-css-modules",
          {
            "context": "./src",
            "autoResolveMultipleImports": true,
            "generateScopedName": "[name]__[local]-[hash:base64:5]",
            "handleMissingStyleName": "warn",
            "webpackHotModuleReloading": true
          }
        ]
      ]
}