{
    "presets": [
        ["@babel/preset-env", 
          {
            "shippedProposals": true,
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": "defaults",
            "modules": "auto"
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        [
          "css-modules-transform",
          {
            "generateScopedName": "[hash:base64:7]"
          }
        ],
        ["@babel/plugin-transform-typescript", {
          "allExtensions": true,
          "allowDeclareFields": true,
          "isTSX": true
        }],
        ["@babel/plugin-proposal-object-rest-spread", { "loose": true, "useBuiltIns": true }],
        [
          "react-css-modules",
          {
            "context": "./src",
            "autoResolveMultipleImports": true,
            "generateScopedName": "[name]__[local]-[hash:base64:5]",
            "handleMissingStyleName": "warn",
            "webpackHotModuleReloading": true
          }
        ]
      ]
}