{
  "src/**/*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --cache --quiet",
    "build-storybook -o ./docs",
    "git add"
  ],
  "src/**/*.styl": [
    "stylus-supremacy format --replace --options stylus-supremacy.config.json",
    "git add"
  ]
}
