# Token owner mischenkoav@profi.ru . 
# Github repo read access required. 
# TODO: move to ENV 
//npm.pkg.github.com/:_authToken=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
@eruditorgroup:registry=https://npm.pkg.github.com
@profi:registry=http://npm.x340.org:4873
