# Token owner mischenkoav@profi.ru . 
# Github repo read access required. 
# TODO: move to ENV 
//npm.pkg.github.com/:_authToken=""
@eruditorgroup:registry=https://npm.pkg.github.com
@profi:registry=http://npm.x340.org:4873
