/*  imported from Col.module.scss  */

.ui_3gzlY {
  box-sizing: border-box;
  padding: 0 10px; }

.ui_rET6v {
  max-width: 0%;
  flex: 0 0 0%; }

.ui_Dq8BB {
  margin-left: 0%; }

.ui_2252h {
  max-width: 8.33333%;
  flex: 0 0 8.33333%; }

.ui_2_FD- {
  margin-left: 8.33333%; }

.ui_3jA4G {
  max-width: 16.66667%;
  flex: 0 0 16.66667%; }

.ui_1nGkZ {
  margin-left: 16.66667%; }

.ui_3RiYA {
  max-width: 25%;
  flex: 0 0 25%; }

.ui_1_hyN {
  margin-left: 25%; }

.ui_3tv-z {
  max-width: 33.33333%;
  flex: 0 0 33.33333%; }

.ui_3PtYu {
  margin-left: 33.33333%; }

.ui_2Us9s {
  max-width: 41.66667%;
  flex: 0 0 41.66667%; }

.ui_38s0T {
  margin-left: 41.66667%; }

.ui_2Eemg {
  max-width: 50%;
  flex: 0 0 50%; }

.ui_3vbL7 {
  margin-left: 50%; }

.ui_348Jq {
  max-width: 58.33333%;
  flex: 0 0 58.33333%; }

.ui_2zwqo {
  margin-left: 58.33333%; }

.ui_3MPp4 {
  max-width: 66.66667%;
  flex: 0 0 66.66667%; }

.ui_3RBgk {
  margin-left: 66.66667%; }

.ui_1RwfJ {
  max-width: 75%;
  flex: 0 0 75%; }

.ui_3SCOm {
  margin-left: 75%; }

.ui_15gAr {
  max-width: 83.33333%;
  flex: 0 0 83.33333%; }

.ui_1qIFA {
  margin-left: 83.33333%; }

.ui_U508S {
  max-width: 91.66667%;
  flex: 0 0 91.66667%; }

.ui_xOoNV {
  margin-left: 91.66667%; }

.ui_3Hy_D {
  max-width: 100%;
  flex: 0 0 100%; }

.ui_3-EzH {
  margin-left: 100%; }
