.wrapper {
  @media (max-width: 1023px) {
    display: none;
  }
}

.arrow {
  position: absolute;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.3s ease;
  opacity: 0;
  z-index: 2;
  pointer-events: none;

  &_show {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;

    &.arrow_left {
      transform: translateY(-50%) translateX(-50%);
    }

    &.arrow_right {
      transform: translateY(-50%) translateX(50%);
    }
  }

  &_left {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-30%);
  }

  &_right {
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(30%);
  }
}

.gradient,
.fill {
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  z-index: 1;
}

.gradient {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out,
    transform 0.15s ease-in-out;

  &_show {
    visibility: visible;
    opacity: 1;
  }

  &_left {
    left: 0;

    &.shift {
      transform: translateX(20px);
    }
  }

  &_right {
    right: 0;

    &.shift {
      transform: translateX(-20px);
    }
  }
}

.fill {
  transition: transform 0.15s ease-in-out;

  &_left {
    transform: translateX(-20px);
    left: 0;
  }

  &_right {
    transform: translateX(20px);
    right: 0;
  }

  &_show {
    transform: translateX(0);
  }
}
