.button {
  position: relative;
  border: none;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 0 20px;
  height: 50px;
  border: 1px solid transparent;

  &[disabled] {
    opacity: 0.65;
    cursor: default;
  }
}

.icon {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &-withMargin {
    margin-right: 0.5rem;
  }
}

.design-primary {
  color: white;
  background-color: var(--color-brand);

  &:hover:not([disabled]) {
    background-color: var(--color-brand-hover);
  }

  &:active:not([disabled]) {
    background: var(--color-brand-active);
  }

  &[disabled],
  &[disabled]:hover {
    // opacity: 0.65;
    background: var(--color-brand);
  }
}

.design-primary-light {
  color: var(--color-brand);
  background-color: rgba(255, 0, 44, 0.07);

  &:hover:not([disabled]) {
    background-color: rgba(255, 0, 44, 0.15);
  }

  &:active:not([disabled]) {
    background: rgba(255, 0, 44, 0.25);
  }

  &[disabled],
  &[disabled]:hover {
    // opacity: 0.65;
    // background: var(--color-brand);
    border-color: rgba(255, 0, 44, 0.25);
  }
}

.design-light {
  background: var(--light-blue);
  color: var(--color-text);
  font-weight: 600;
  background-color: #fff;
  // box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;

  &:hover:not([disabled]) {
    background: var(--light-blue-hover);
  }

  &:active:not([disabled]) {
    background: var(--light-blue-active);
  }

  &[disabled],
  &[disabled]:hover {
    background: var(--color-border);
  }
}

.design-secondary {
  background: var(--color-lightGrey);
  color: var(--color-text);
  font-weight: 600;

  &:hover {
    background: var(--color-grey);
  }

  &:active {
    background: var(--color-mediumGrey);
  }

  &[disabled],
  &[disabled]:hover {
    background: var(--color-border);
  }
}

.design-fb {
  background: var(--color-facebook);
  color: #fff;
  &:hover:not([disabled]) {
    background-color: var(--color-fb-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-fb-active);
  }
}

.design-yandex {
  background: var(--color-yandex);
  color: #000;
  &:hover:not([disabled]) {
    background-color: var(--color-yandex-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-yandex-active);
  }
}

.design-vk {
  background-color: var(--color-vk);
  color: #fff;
  &:hover:not([disabled]) {
    background-color: var(--color-vk-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-vk-active);
  }
}

.size-small {
  height: 40px;
  font-weight: 600;
}

.size-default {
  padding: 11px 20px;
}

.size-large {
  font-size: 30px;
  font-weight: 500;
  padding: 24px;
  height: 80px;
}

.block {
  width: 100%;
}

.fit {
  padding-right: 0;
  padding-left: 0;
}
