/*  imported from Wrapper.module.scss  */

.wrapper-D2TmM {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.bg-grey-18tQS {
  background: var(--ui-color-grey); }

.bg-white-5kaUN {
  background: #fff; }
