.link {
  color: var(--color-link);
  text-decoration: none;
  &:hover,
  &:active {
    color: var(--color-brand);
  }
}

.color .underlined {
  text-decoration: underline;
}

.block {
  display: block;
}

.font-bold {
  font-weight: 600;
}
