:global(a) {
  color: var(--color-link);
  text-decoration: none;

  &:hover {
    color: var(--color-brand);
  }
}

.color-brand {
  color: var(--color-brand);

  &:hover,
  &:active {
    color: var(--color-link);
  }
}

.disabled,
.disabled:hover,
.disabled:active {
  color: var(--color-lightState);
  cursor: default;
}

.underlined {
  text-decoration: underline;
}

.block {
  display: block;
}
