.link {
  color: var(--ui-color-link);
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  max-width: 100%;

  &:hover {
    color: var(--ui-color-primary);
  }
}

.disabled,
.disabled:hover,
.disabled:active {
  color: var(--ui-color-lightState);
  cursor: default;
}

.underlined {
  box-shadow: inset 0px -1px 0px #D9D9D9;

  &:hover {
    box-shadow: inset 0px -1px 0px rgba(224, 25, 53, 0.3);
  }
}

.block {
  display: block;
}
