.root {
}

.spinner {
  margin: 10px auto;
}

.container {
  position: relative;
  display: inline-flex;
}

.container.block {
  display: block;
  width: 100%;
}

.containerOpen {
}

.input {
}

.inputOpen {
}

.inputFocused {
}

.suggestionsContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 9999;
  max-height: 300px;
  overflow: scroll;
}

.suggestionsContainerOpen {
  padding: 5px 0;
  margin-top: 5px;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  width: 100%;
}

.suggestion {
  width: 100%;
  display: block;
  cursor: pointer;
}

.suggestionFirst {
}

.suggestionHighlighted {
}

.sectionContainer {
}

.sectionContainerFirst {
}

.sectionTitle {
}
