.root {
}

.spinner {
}

.container {
}

.containerOpen {
}

.input {
}

.inputOpen {
}

.inputFocused {
}

.suggestionsContainer {
}

.suggestionsContainerOpen {
  padding: 5px 0;
  margin-top: 5px;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  width: 100%;
}

.suggestion {
  width: 100%;
  display: block;
  cursor: pointer;
}

.suggestionFirst {
}

.suggestionHighlighted {
}

.sectionContainer {
}

.sectionContainerFirst {
}

.sectionTitle {
}
