.uilist {
  padding: 0;
  margin: 0;
}

.uilist,
.listItem {
  width: 100%;
}

.spinner {
  margin: 10px auto;
}

.container {
  width: 100%;
  position: relative;
}

.suggestionsContainer {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 9999;
  max-height: 210px;
  overflow: auto;
}

.suggestionsContainerOpen {
  padding: 5px;
  margin-top: 5px;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  width: 100%;
}

.suggestion {
  width: 100%;
  display: block;
  cursor: pointer;
}
