.badge {
  display: inline-flex;
  align-items: center;
  background-color: var(--ui-bg-light);
  padding: 4px 8px;
  border-radius: 8px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
