.rate {
  position: relative;
  display: inline-flex;
  font-size: 17px;

  &_best {
    padding-right: 9px;
  }
}

.star {
  color: var(--ui-color-light);
  transition: 0.1s color ease-in-out, 0.1s transform ease-in-out;
  line-height: 1;
  outline: none;
  margin-right: .185em;
  
  &_filled {
    color: var(--ui-color-warning);
  }

  &_pointer {
    cursor: pointer;
  }

  &_scalled {
    animation: scaleStar 300ms linear 1;
  }

  &_best {
    transition-property: color, transform;
    transform: translate3d(0, -.09em, 0) rotate(-10deg);
  }

}

.design_stroked, .design_light {
  stroke: var(--ui-border-color-secondary);
  stroke-width: 2px;
}

.design_light > * {
  fill: none;
}


.spark {
  color: var(--ui-color-warning);
  transform: translate3d(-0.12em, -0.05em, 0);
  position: relative;

  & > * {
    transform-origin: center;
    animation: scaleSpark 150ms linear;
  }
}

@keyframes scaleSpark {
  0% {
    transform: scale(0) rotate(-30deg);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes scaleStar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.13);
  }

  to {
    transform: scale(1);
  }
}
