.skeleton {
  background: linear-gradient(
    90deg,
    var(--ui-border-color) 25%,
    var(--ui-border-color-secondary) 37%,
    var(--ui-border-color) 63%
  );
  opacity: 0.65;
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  to {
    background-position: 0 50%;
  }
}
