:root {
  font-size: var(--ui-text-size-m);
  line-height: 1.2;

  --ui-font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
  --ui-font-family-secondary: 'ONY-FORM', -apple-system, BlinkMacSystemFont,
    Roboto, Arial, sans-serif;

  /* Text sizes */
  --ui-text-size-xs: 11px;
  --ui-text-size-s: 13px;
  --ui-text-size-m: 15px;
  --ui-text-size-l: 17px;
  --ui-text-size-xl: 22px;
  --ui-text-size-xxl: 28px;
  /* Laptop 732 - 1023px */
  --ui-text-size-3xl-laptop: 35px;
  --ui-text-size-4xl-laptop: 45px;
  --ui-text-size-5xl-laptop: 60px;
  /* Desktop > 1024px */
  --ui-text-size-3xl-desktop: 40px;
  --ui-text-size-4xl-desktop: 60px;
  --ui-text-size-5xl-desktop: 80px;

  /* Line heights */
  --ui-text-lineHeight-xs: 13px;
  --ui-text-lineHeight-s: 17px;
  --ui-text-lineHeight-m: 20px;
  --ui-text-lineHeight-l: 22px;
  --ui-text-lineHeight-xl: 26px;
  --ui-text-lineHeight-xxl: 33px;
  /* Laptop 732 - 1023px */
  --ui-text-lineHeight-3xl-laptop: 38px;
  --ui-text-lineHeight-4xl-laptop: 45px;
  --ui-text-lineHeight-5xl-laptop: 60px;
  /* Desktop > 1024px */
  --ui-text-lineHeight-3xl-desktop: 45px;
  --ui-text-lineHeight-4xl-desktop: 60px;
  --ui-text-lineHeight-5xl-desktop: 80px;

  --ui-color-primary: #e01935;
  --ui-color-primaryState: #c90c27;
  --ui-color-primaryInverse: #fff;
  --ui-color-primaryInverseState: #ec7586;

  --ui-color-secondary: #333333;
  --ui-color-secondaryState: #1a1a1a;
  --ui-color-secondaryInverse: #fff;
  --ui-color-secondaryInverseState: #666666;

  --ui-color-light: #ebebeb;
  --ui-color-lightState: #dedede;
  --ui-color-lightInverse: #333333;
  --ui-color-lightInverseState: #a6a6a6;

  --ui-color-disabled: #bfbfbf;
  --ui-color-danger: #e01935;
  --ui-color-warning: #ffa216;
  --ui-color-success: #18d15c;
  --ui-color-brand: #ee203a;

  --ui-color-vk: #2787f5;
  --ui-color-fb: #1878f2;
  --ui-color-ya: #fc0;

  --ui-color-link: #333333;
  --ui-color-text: #333333;
  --ui-color-text-muted: #808080;
  --ui-color-text-disabled: #a6a6a6;

  --ui-border-color: #ebebeb;

  --ui-border-radius-xs: 5px;
  --ui-border-radius-s: 8px;
  --ui-border-radius-m: 9px;
  --ui-border-radius-l: 10px;
  --ui-border-radius-xl: 12px;
  --ui-border-radius-xxl: 50px;

  --ui-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);

  --ui-bg-default: #fff;
  --ui-bg-light: #f2f2f2;
  --ui-bg-lightState: #ebebeb;
  --ui-bg-lighter: #fafafa;
}
