.size-3xl {
  font-family: var(--ui-font-family-secondary);
  font-size: var(--ui-text-size-3xl-laptop);
  line-height: var(--ui-text-lineHeight-3xl-laptop);

  @media (min-width: 1024px) {
    font-size: var(--ui-text-size-3xl-desktop);
    line-height: var(--ui-text-lineHeight-3xl-desktop);
  }
}

.size-4xl {
  font-family: var(--ui-font-family-secondary);
  font-size: var(--ui-text-size-4xl-laptop);
  line-height: var(--ui-text-lineHeight-4xl-laptop);

  @media (min-width: 1024px) {
    font-size: var(--ui-text-size-4xl-desktop);
    line-height: var(--ui-text-lineHeight-4xl-desktop);
  }
}

.size-5xl {
  font-family: var(--ui-font-family-secondary);
  font-size: var(--ui-text-size-5xl-laptop);
  line-height: var(--ui-text-lineHeight-5xl-laptop);

  @media (min-width: 1024px) {
    font-size: var(--ui-text-size-5xl-desktop);
    line-height: var(--ui-text-lineHeight-5xl-desktop);
  }
}
