.input-unit {
  position: relative;
  width: 100%;
}

.input-unit__input {
  position: relative;
  z-index: 2;
}

.input-unit__stretcher {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: flex;
  align-items: center;
}

.input-unit__value {
  margin-right: 4px;
  opacity: 0;

  flex: 0 1 auto;
  min-width: 1px;
}

.placeholder-mask {
  color: transparent;
}
