.spinner,
.spinner:after {
  color: currentColor;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  border-bottom: 1.5px solid;
  border-bottom-color: transparent !important;
  border-left: 1.5px solid;
  transform: translateZ(0);
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  display: inline-flex;
}

.size-small,
.size-small:after {
  width: 15px;
  height: 15px;
}
.size-default,
.size-default:after {
  width: 20px;
  height: 20px;
}
.size-large,
.size-large:after {
  width: 25px;
  height: 25px;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
