.root {
  position: relative;
  display: inline-flex;
}

.block {
  display: flex;
  width: 100%;
}

.select {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 147px;
  height: 50px;
  padding-right: 25px;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 5px 25px 5px 15px;
  -webkit-appearance: none;
  background: no-repeat right transparent;
  cursor: pointer;
  &-withFloatLabel {
    padding-top: 15px;
  }
}

.open-icon {
  position: absolute;
  margin: auto 0;
  display: block;
  top: 0;
  bottom: 0;
  right: 22px;
}

.option-placeholder {
  display: none;
  color: var(--color-darkGrey);
}

.placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: block;
  overflow: hidden;
  width: calc(100% - 15px);
  height: 22px;
  margin: auto;
  color: var(--color-darkGrey);
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: top, font-size;
  transform: translateZ(0);
  pointer-events: none;
  will-change: top, font-size;

  &-floated {
    top: -25px;
    font-size: 13px;
  }
}
