$columnsInRow: 12;

.col {
  padding: 0 10px;
  flex: 1 0 0%;
  box-sizing: border-box;

  @for $i from 1 through $columnsInRow {
    $col: percentage($i / $columnsInRow);
    &_span-#{$i} {
      flex: 0 0 auto;
      width: $col;
    }

    &_offset-#{$i} {
      margin-left: $col;
    }
  }
}

@media (min-width: 752px) {
  .col {
    padding: 0 30px;
  }
}
