$columnsInRow: 12;
$gutters: 10, 30, 45;

@mixin generateGrid($size: null) {
  @for $i from 1 through $columnsInRow {
    $infix: if($size != null, '#{$size}-', '');
    $col: percentage($i / $columnsInRow);

    .col_#{$infix}span-#{$i} {
      flex: 0 0 auto;
      width: $col;
    }

    .col_#{$infix}offset-#{$i} {
      margin-left: $col;
    }
  }
}

@mixin generateGutters($size: null) {
  @each $gutter in $gutters {
    $infix: if($size != null, '#{$size}-', '');

    .col_#{$infix}gutter-#{$gutter} {
      padding-left: #{$gutter}px;
      padding-right: #{$gutter}px;
    }
  }
}

.col {
  flex: 1 0 0%;
  box-sizing: border-box;
}

.col_gutter-default {
  padding: 0 10px;

  @media (min-width: 732px) {
    padding: 0 30px;
  }
}

@include generateGrid();
@include generateGutters();

@media (min-width: 732px) {
  @include generateGrid('s');
  @include generateGutters('s');
}

@media (min-width: 1024px) {
  @include generateGrid('m');
  @include generateGutters('m');
}

@media (min-width: 1280px) {
  @include generateGrid('l');
  @include generateGutters('l');
}
