.label {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
}

.checker {
  width: 22px;
  height: 22px;
  background-size: 100% 100%;
  content: '';
  margin-right: 8px;
  transition: background-image 0.3s;
  speak: none;
  border-radius: 50%;
}

.design-brand {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBmaWxsPSIjRkZGIiB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHJ4PSIxMSIvPjxwYXRoIGQ9Ik0uNSAxMWMwIDUuODI0IDQuNjc2IDEwLjUgMTAuNSAxMC41UzIxLjUgMTYuODI0IDIxLjUgMTEgMTYuODI0LjUgMTEgLjUuNSA1LjE3Ni41IDExeiIgc3Ryb2tlPSIjRDZEN0Q4Ii8+PC9nPjwvc3ZnPg==);
}

.input {
  position: absolute;
  opacity: 0.01;
  width: 0.01px;
  height: 0.01px;
  &[disabled] {
    & ~ .content,
    & ~ .checker {
      cursor: default;
      color: var(--ui-color-mediumGrey);
    }
  }

  &:checked + .checker {
    &.design-brand {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBmaWxsPSIjRkZGIiB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHJ4PSIxMSIvPjxwYXRoIGQ9Ik0xMSAyMkM0LjkgMjIgMCAxNy4xIDAgMTFTNC45IDAgMTEgMHMxMSA0LjkgMTEgMTEtNC45IDExLTExIDExem0wLTJhOSA5IDAgMTAwLTE4IDkgOSAwIDAwMCAxOHptMC00YTUgNSAwIDExMC0xMCA1IDUgMCAwMTAgMTB6IiBmaWxsPSIjQzAwMDI3Ii8+PC9nPjwvc3ZnPg==);
    }
  }
}

.content {
  line-height: 1.4;
}
