.buttonBack {
  background-color: var(--ui-bg-default);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  touch-action: pan-down;
  will-change: transfrom;

  &_scrolled {
    touch-action: pan-y;
  }

  &_transition {
    transition: transform 0.2s linear;
  }
}

.imageWrapper {
  will-change: transfrom;
  transform: translateX(-100vw);
}

.hidden {
  display: none;
}

@media screen and (min-width: 732px) {
  .modal {
    width: calc(100vw - 160px);
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 16px;
  }

  .image {
    position: static;
    height: calc(100vh - 40px);
    border-radius: 16px;
  }
}
