.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  touch-action: pan-down;
  will-change: transfrom;

  &_scrolled {
    touch-action: pan-y;
  }

  &_transition {
    transition: transform 0.2s linear;
  }
}

.imageWrapper {
  will-change: transfrom;
  transform: translateX(-100vw);
}

@media screen and (min-width: 732px) {
  .modal {
    width: calc(100vw - 160px);
    max-width: 1400px;
    margin: 20px auto;
    border-radius: 16px;
  }

  .buttonClose {
    top: 0;
    left: 100%;
    margin-left: 10px;
  }

  .image {
    position: static;
    height: calc(100vh - 40px);
    border-radius: 16px;
  }
}
