.color-brand {
  color: var(--ui-color-brand);
}

.color-primary {
  color: var(--ui-color-primary);
}

.color-secondary {
  color: var(--ui-color-secondary);
}

.color-light {
  color: var(--ui-color-secondary);
}

.color-danger {
  color: var(--ui-color-danger);
}

.color-success {
  color: var(--ui-color-success);
}

.color-warning {
  color: var(--ui-color-warning);
}

.color-muted {
  color: var(--ui-color-text-muted);
}

.bold {
  font-weight: 600;
}

.regular {
  font-weight: 400;
}

.size-xs {
  font-size: var(--ui-text-size-xs);
  line-height: var(--ui-text-lineHeight-xs);
}
.size-s {
  font-size: var(--ui-text-size-s);
  line-height: var(--ui-text-lineHeight-s);
}
.size-m {
  font-size: var(--ui-text-size-m);
  line-height: var(--ui-text-lineHeight-m);
}
.size-l {
  font-size: var(--ui-text-size-l);
  line-height: var(--ui-text-lineHeight-l);
}
.size-xl {
  font-size: var(--ui-text-size-xl);
  line-height: var(--ui-text-lineHeight-xl);
}
.size-xxl {
  font-size: var(--ui-text-size-xxl);
  line-height: var(--ui-text-lineHeight-xxl);
}
.size-huge {
  font-size: var(--ui-text-size-huge);
  line-height: var(--ui-text-lineHeight-huge);
}
