.color-brand {
  color: var(--ui-color-brand);
}

.color-primary {
  color: var(--ui-color-primary);
}

.color-secondary {
  color: var(--ui-color-secondary);
}

.color-light {
  color: var(--ui-color-secondary);
}

.color-danger {
  color: var(--ui-color-danger);
}

.color-success {
  color: var(--ui-color-success);
}

.color-warning {
  color: var(--ui-color-warning);
}

.size-xs {
  font-size: var(--ui-text-size-s);
}
.size-s {
  font-size: var(--ui-text-size-s);
}
.size-m {
  font-size: var(--ui-text-size-m);
}
.size-l {
  font-size: var(--ui-text-size-l);
}
.size-xl {
  font-size: var(--ui-text-size-xl);
}
.size-xxl {
  font-size: var(--ui-text-size-xxl);
}
.size-huge {
  font-size: var(--ui-text-size-huge);
}
