:root {
  font-size: var(--ui-text-size-m);
  line-height: 1.2;

  --ui-text-size-xs: 11px;
  --ui-text-size-s: 13px;
  --ui-text-size-m: 15px;
  --ui-text-size-l: 17px;
  --ui-text-size-xl: 22px;
  --ui-text-size-xxl: 28px;
  --ui-text-size-huge: 88px;

  --ui-text-lineHeight-xs: 13px;
  --ui-text-lineHeight-s: 17px;
  --ui-text-lineHeight-m: 20px;
  --ui-text-lineHeight-l: 22px;
  --ui-text-lineHeight-xl: 26px;
  --ui-text-lineHeight-xxl: 33px;

  --ui-color-primary: #e01935;
  --ui-color-primaryState: #c90c27;
  --ui-color-primaryInverse: #fff;
  --ui-color-primaryInverseState: #ec7586;

  --ui-color-secondary: #333333;
  --ui-color-secondaryState: #1a1a1a;
  --ui-color-secondaryInverse: #fff;
  --ui-color-secondaryInverseState: #666666;

  --ui-color-light: #ebebeb;
  --ui-color-lightState: #dedede;
  --ui-color-lightInverse: #333333;
  --ui-color-lightInverseState: #a6a6a6;

  --ui-color-disabled: #bfbfbf;
  --ui-color-danger: #e01935;
  --ui-color-warning: #ffa216;
  --ui-color-success: #18d15c;
  --ui-color-brand: #ee203a;

  --ui-color-vk: #2787f5;
  --ui-color-fb: #1878f2;
  --ui-color-ya: #fc0;

  --ui-color-link: #333333;
  --ui-color-text: #333333;
  --ui-color-text-muted: #808080;

  --ui-border-color: #d9d9d9;

  --ui-border-radius-xs: 5px;
  --ui-border-radius-s: 8px;
  --ui-border-radius-m: 9px;
  --ui-border-radius-l: 10px;
  --ui-border-radius-xl: 12px;
  --ui-border-radius-xxl: 50px;

  --ui-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

  --ui-bg-light: #f2f2f2;
  --ui-bg-lightState: #ebebeb;
}
