:root {
  font-family: var(--font-family);
  font-size: 16px;

  /* Fonts */
  --font-family: 'ProximaNova', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

  /* Colors */
  --color-brand: #c00027;
  --color-brand-active: #ac0023;
  --color-brand-hover: #e72446;

  --color-facebook: #1878f2;
  --color-fb-hover: #1771e5;
  --color-fb-active: #1b6bc5;

  --color-yandex: #ffcc00;
  --color-yandex-hover: #2c2b29;
  --color-yandex-active: #e4b808;

  --color-vk: #2787f5;
  --color-vk-hover: #257fe7;
  --color-vk-active: #1b6bc5;

  --color-text: #000;
  --color-error: #e72446;

  --color-darkGrey: #7d8089;
  --color-mediumGrey: #dedede;
  --color-grey: #f0f2f4;
  --color-lightGrey: rgba(125, 128, 137, 0.1);

  /* Borders */
  --border-radius-small: 4px;
  --border-radius: 8px;
  --border-radius-large: 10px;
  --border-radius-extra-large: 16px;

  /* TODO: 
  * ЗАРЕФАКТОРИТЬ после релиза дизайн-системы. 
  * У нас слишком много цветов! 
  */
  --color-border: #c8cbd2;
  --lightest-grey: #f7f8f9;
  --grayf: #f1f1f1;
  --blue: #0087c6;
  --dodger-blue: #0084ff;
  --light-blue: #e1f2f9;
  --light-blue-hover: #eefaff;
  --light-blue-active: #c0e0ed;
  --lightest-blue: #f1f7ff;
  --cornflower-blue: #adceff;
  --hawkes-blue: #d6e6ff;
  --dark-border: #484a4f;
  --tab-grey: #9d9fa5;
  --icon-grey: #cacfda;
  --gray-tag-hover: #c9cfde;
  --gray-tag-active: #abb5cd;
  --gray-tag-active-nover: #9da8c4;
  --tag-active: #e1e1dd;
  --transparent: rgba(0, 0, 0, 0.6);
  --light-red: #fce7eb;
  --mauvelous: #f1859b;
  --light-yellow: #fff1a4;
  --lightest-yellow: #ffeec8;
  --light-yellow-transparent-04: rgba(255, 241, 164, 0.4);
  --yellow: #ffc600;
  --orange: #ff9f00;
  --online-green: #32cd32;
  --medium-green: #cbffcb;
  --light-green: #c9fbc9;
  --green: #199700;
  --schedule-green: #00c75c;
  --online: #00c75c;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-16: 16px;
  --black: #000;
  --white: #fff;
  --profi-black: #33363a;
  --title: #000;
  --gray-shadow: #c5c2d4;
  --gray-f8: #f8f9fb;
  --gray-shadow-opacity: rgba(197, 194, 212, 0.3);
  --box-shadow: rgba(8, 13, 74, 0.12);
  --small-shadow: 0 2px 8px;
  --font-small: 14px;
  --font-medium: 16px;
  --font-large: 20px;
  --media-height-desktop: 'screen and (max-height: 630px)';
  --media-height-mobile: 'screen and (max-height: 500px)';
  --title-extra-large-desktop: 50px;
  --title-extra-large-mobile: 34px;
  --title-large-desktop: 34px;
  --title-large-mobile: 24px;
  --title-extra-medium-desktop: 24px;
  --title-extra-medium-mobile: 20px;
  --title-medium-mobile: 20px;
  --title-medium-desktop: 20px;
  --title-small-desktop: 16px;
  --title-small-mobile: 16px;
  --social-vk: #4680c2;
  --social-fb: #1877f2;
  --social-ok: #ee8208;

  /* wizards admin */
  --wa-white: #fff;
  --wa-almost-white: #fcfcfc;
  --wa-black: #000;
  --wa-blue: #007bff;
  --wa-light-gray: #e7e7e7;
  --wa-dark-gray: #343a40;
  --wa-green: #149003;
  --wa-red: #c00;
  --wa-light-yellow: #eee8aa;
  --wa-purple: #6f42c1;
  --wa-meduim-light-gray: #d1dade;
}
