:root {
  font-size: var(--text-size-m);
  line-height: 1.2;

  --text-size-xs: 11px;
  --text-size-s: 13px;
  --text-size-m: 15px;
  --text-size-l: 17px;
  --text-size-xl: 22px;
  --text-size-xxl: 28px;
  --text-size-huge: 88px;

  --color-primary: #e01935;
  --color-primaryState: #c90c27;
  --color-primaryInverse: #fff;
  --color-primaryInverseState: #ec7586;

  --color-secondary: #333333;
  --color-secondaryState: #1a1a1a;
  --color-secondaryInverse: #fff;
  --color-secondaryInverseState: #666666;

  --color-light: #ebebeb;
  --color-lightState: #d9d9d9;
  --color-lightInverse: #333333;
  --color-lightInverseState: #bfbfbf;

  --color-danger: #e01935;
  --color-warning: #ffa216;
  --color-success: #18d15c;
  --color-brand: #ee203a;

  --color-vk: #2787f5;
  --color-fb: #1878f2;
  --color-ya: #fc0;

  --color-grey1: #fafafa;
  --color-grey2: #ebebeb;
  --color-grey3: #d9d9d9;
  --color-gery4: #cccccc;
  --color-gery5: #bfbfbf;
  --color-grey6: #b2b2b2;
  --color-grey7: #a6a6a6;
  --color-grey8: #8c8c8c;
  --color-grey9: #808080;
  --color-grey10: #737373;
  --color-grey11: #666666;
  --color-grey12: #595959;
  --color-grey13: #4d4d4d;
  --color-grey14: #404040;
  --color-grey15: #333333;
  --color-grey16: #262626;
  --color-grey17: #1a1a1a;
  --color-grey18: #0d0d0d;
  --color-dark: #000000;

  --border-radius-small: 10px;
  --border-radius: 12px;
  --border-radius-large: 50px;

  --box-shadow: 0px 5px 30px 5px #0000000d;
}
