.tooltip {
  display: inline-block;
}

.tooltipContent {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: var(--ui-color-warning);
}

.tooltipOverlay {
  padding-bottom: 5px;
}

.toggler {
  position: relative;
}
