.text {
  margin: 0;
}

.color-default {
  color: var(--ui-color-text);
}

.color-muted {
  color: var(--ui-color-text-muted);
}

.color-disabled {
  color: var(--ui-color-text-disabled);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: center;
}
