.text {
  margin: 0;
}

.color-default {
  color: var(--ui-color-text);
}

.color-muted {
  color: var(--ui-color-text-muted);
}

.color-disabled {
  color: var(--ui-color-text-disabled);
}

.color-link {
  color: var(--ui-color-link);

  &:hover {
    color: var(--ui-color-primary);
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: center;
}

.link {
  display: inline;
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--ui-link-shadow);

  &:hover {
    box-shadow: var(--ui-link-shadowState);
  }
}

.skeleton {
  border-radius: 4px;
  min-height: 1rem;
  color: transparent;

  &.link {
    &:hover {
      color: transparent;
    }
  }
}
