.group {
  display: inline-flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  border-radius: var(--ui-border-radius);
  overflow: hidden;
  & > * {
    width: 100%;
    border-radius: 0;
    &:nth-child(n + 2) {
      border-left: 1px solid var(--ui-color-mediumGrey);
    }
  }
}

.block {
  display: flex;
}
