/*  imported from Container.module.scss  */

.container-Kv-Kl {
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

@media (min-width: 732px) {
  .container-Kv-Kl {
    max-width: 1020px;
    padding: 0 30px; } }

@media (min-width: 1281px) {
  .container-Kv-Kl {
    max-width: 1200px; } }
