.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.body {
  padding: 25px;

  > * + * {
    margin-top: 10px;
  }
}

.images {
  margin-top: 30px;
}

.spinner {
  margin: 40px auto 48px;
  font-size: 40px;
}

@media screen and (min-width: 732px) {
  .image {
    width: 20%;
    padding-top: 20%;
  }
}
