@mixin reset-input {
  font-family: inherit;
  margin: 0;

  overflow: visible; /* Show overflow in IE/Edge */

  outline: 0;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.input_wrapper {
  display: inline-block;

}

.input_wrapper--block {
  display: block;
}

.input {
  @include reset-input;

  width: 100%;

  background: var(--ui-color-light);
  border: 1px solid transparent;

  color: var(--ui-color-lightInverse);

  box-sizing: border-box;

  &::placeholder {
    color: var(--ui-color-lightInverse);
    opacity: 0.65;
  }

  &:not(:disabled):hover {
    background: var(--ui-color-lightState);
  }

  &_invalid {
    border-color: var(--ui-color-primaryInverseState);
  }

  &:disabled {
    color: var(--ui-color-lightInverseState);
    -webkit-text-fill-color: var(--ui-color-lightInverseState); /* Safari pale color bug */
    opacity: 1; /* iOS pale color bug */
  }
}

.input_s {
  padding: 7px 14px 8px;

  border-radius: var(--ui-border-radius-s);

  font-size: var(--ui-text-size-s);
  font-weight: 400;
  line-height: var(--ui-text-lineHeight-s);
}
.input_m {
  padding: 7px 14px 9px;

  border-radius: var(--ui-border-radius-m);

  font-size: var(--ui-text-size-m);
  font-weight: 400;
  line-height: var(--ui-text-lineHeight-m);
}
.input_l {
  padding: 11px 14px 13px;

  border-radius: var(--ui-border-radius-l);

  font-size: var(--ui-text-size-l);
  font-weight: 400;
  line-height: var(--ui-text-lineHeight-l);
}
.input_xl {
  height: 65px; // FF line-height bug
  padding: 18px 19px 19px;

  border-radius: var(--ui-border-radius-xl);

  font-size: var(--ui-text-size-xl);
  font-weight: 600;
  line-height: var(--ui-text-lineHeight-xl);
}
