.col {
  box-sizing: border-box;
  padding: 0 10px;
}

$columnsInRow: 12;
$oneColWidth: 100 / $columnsInRow;

@for $i from 0 through $columnsInRow {
  $col: 1% * $i * $oneColWidth;
  .span-#{$i} {
    max-width: #{$col};
    flex: 0 0 #{$col};
  }

  .offset-#{$i} {
    margin-left: #{$col};
  }
}
