.item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--ui-color-secondary);
  user-select: none;
  text-decoration: none;
  svg {
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.rounded {
  border-radius: 0.6em;
}

.design-light {
  color: var(--ui-color-secondary);
  &:hover {
    background: var(--ui-bg-light);
    color: var(--ui-color-secondary);
  }
  &:active {
    background: var(--ui-bg-lightState);
    color: var(--ui-color-secondary);
  }
  &.current {
    background: var(--ui-bg-lightState);
    color: var(--ui-color-secondary);
  }
}

.disabled {
  color: var(--ui-color-secondaryInverseState);
  cursor: default;
  &:hover {
    color: var(--ui-color-secondaryInverseState);
    background: white;
  }
  &:active {
    color: var(--ui-color-secondaryInverseState);
    background: white;
  }
}

.divided {
  margin-top: 20px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    border-top: 1px solid var(--ui-color-light);
  }
}
