.item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--ui-color-secondary);
  user-select: none;
  text-decoration: none;

  svg {
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.rounded {
  border-radius: 0.6em;
}

.design-light {
  color: var(--ui-color-secondary);

  &:hover {
    background: var(--ui-bg-light);
    color: var(--ui-color-secondary);
  }

  &:active {
    background: var(--ui-bg-lightState);
    color: var(--ui-color-secondary);
  }

  &.current {
    background: var(--ui-bg-lightState);
    color: var(--ui-color-secondary);
    font-weight: 600;
  }
}

.disabled {
  color: var(--ui-color-secondaryInverseState);
  cursor: default;

  &:hover {
    color: var(--ui-color-secondaryInverseState);
    background: var(--ui-bg-default);
  }

  &:active {
    color: var(--ui-color-secondaryInverseState);
    background: var(--ui-bg-default);
  }
}

.divided {
  margin-top: 20px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    border-top: 1px solid var(--ui-color-light);
  }
}

.bordered {
  &:before,
  &:after {
    content: '';
    display: block;
    height: 1px;
    padding-left: inherit;
    padding-right: inherit;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--ui-color-light);
    background-clip: content-box;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:first-child:before,
  &:not(:last-child):after,
  &.current:before,
  &.current:after,
  &:hover:before,
  &:hover:after,
  &.current + &:before,
  &:hover + &:before {
    display: none;
  }
}
