.loader {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 42px;
}

.size-extraSmall {
  width: 16px;
}

.size-large {
  width: 112px;
}

.dot {
  position: relative;
  will-change: transform;
  transform-origin: 50%;
  animation: dotLoader 0.6s infinite ease-in-out;

  &:before {
    display: block;
    content: '';
    transform: scale(0.6);
  }

  &:nth-child(2):before {
    animation: dotLoader 0.6s infinite ease-in-out 0.2s;
  }
  &:nth-child(3):before {
    animation: dotLoader 0.6s infinite ease-in-out 0.4s;
  }
}

.dotDesign-circle {
  &:before {
    border-radius: 100%;
  }
}

.dotDesign-square {
  &:before {
    height: 22px;
    width: 22px;
  }
}

.dotSize {
  &-extra-large {
    width: 40px;
    height: 40px;
  }

  &-large {
    width: 40px;
    height: 40px;
  }

  &-medium {
    width: 10px;
    height: 10px;
    margin-right: 4px;

    &:before {
      width: 10px;
      height: 10px;
    }
  }

  &-small {
    width: 6px;
    height: 6px;
    margin-right: 2px;

    &:before {
      width: 6px;
      height: 6px;
    }
  }

  &-extraSmall {
    width: 4px;
    height: 4px;
    margin-right: 1px;

    &:before {
      width: 4px;
      height: 4px;
    }
  }
}

.dotColor-white:before {
  background-color: #fff;
}

.dotColor-gray:before {
  background-color: var(--medium-grey);
}

@keyframes dotLoader {
  0% {
    transform: scale(0.6);
  }

  33.33333% {
    transform: scale(1);
  }

  66.66666% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(0.6);
  }
}
