.button {
  position: relative;
  border: none;
  font-weight: 600;
  border-radius: 0.6em;
  line-height: 1em;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;

  &[disabled] {
    cursor: default;
  }

  &:active:not([disabled]) {
    opacity: 0.85;
  }
}

.content {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-grow: 1;
}

.icon {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &-withMargin {
    margin-right: 0.3em;
  }
}

.design-primary {
  color: var(--ui-color-primaryInverse);
  background-color: var(--ui-color-primary);

  &:hover:not([disabled]) {
    color: var(--ui-color-primaryInverse);
    background-color: var(--ui-color-primaryState);
  }

  &[disabled] {
    color: var(--ui-color-primaryInverseState);
  }
}

.design-secondary {
  background: var(--ui-color-secondary);
  color: var(--ui-color-secondaryInverse);

  &:hover:not([disabled]) {
    color: var(--ui-color-secondaryInverse);
    background: var(--ui-color-secondaryState);
  }

  &[disabled] {
    color: var(--ui-color-secondaryInverseState);
  }
}

.design-light {
  background: var(--ui-color-light);
  color: var(--ui-color-lightInverse);

  &:hover:not([disabled]) {
    color: var(--ui-color-lightInverse);
    background: var(--ui-color-lightState);
  }

  &[disabled] {
    color: var(--ui-color-lightInverseState);
  }
}

.design-transparent {
  background: transparent;
  color: var(--ui-color-lightInverse);

  &:hover:not([disabled]) {
    color: var(--ui-color-lightInverse);
    background: var(--ui-color-light);
  }

  &[disabled] {
    color: var(--ui-color-lightInverseState);
  }
}

.design-fb {
  background: var(--ui-color-facebook);
  color: #fff;
  &:hover:not([disabled]) {
    color: #fff;
    background-color: var(--ui-color-fb-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--ui-color-fb-active);
  }
}

.design-ya {
  background: var(--ui-color-yandex);
  color: #000;
  &:hover:not([disabled]) {
    color: #000;
    background-color: var(--ui-color-yandex-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--ui-color-yandex-active);
  }
}

.design-vk {
  background-color: var(--ui-color-vk);
  color: #fff;
  &:hover:not([disabled]) {
    color: #fff;
    background-color: var(--ui-color-vk-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--ui-color-vk-active);
  }
}

.size-s {
  padding: 0 15px;
  min-height: 35px;
  font-size: var(--ui-text-size-s);

  &.rounded {
    width: 35px;
    height: 35px;
  }
}

.size-m {
  padding: 0 18px;
  min-height: 40px;
  font-size: var(--ui-text-size-m);
  &.rounded {
    width: 40px;
    height: 40px;
  }
}

.size-l {
  padding: 0 25px;
  min-height: 50px;
  font-size: var(--ui-text-size-l);

  &.rounded {
    width: 50px;
    height: 50px;
  }
}

.rounded {
  border-radius: 50px;
}

.block {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.leading,
.trailing {
  display: inline-flex;
  flex-shrink: 0;
}

.leading {
  padding-right: 7px;
}

.trailing {
  padding-left: 7px;
}

.design-link {
  composes: link from '../Link/Link.module.scss';
  background: transparent;
  padding: 0;
  min-height: inherit;
  text-decoration: underline;

  &:hover {
    color: var(--ui-color-primary);
  }
}

.regular {
  font-weight: normal;
}
