.button {
  position: relative;
  border: none;
  font-weight: 600;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &[disabled] {
    cursor: default;
  }

  &:active:not([disabled]) {
    opacity: 0.85;
  }
}

.icon {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &-withMargin {
    margin-right: 0.3em;
  }
}

.design-primary {
  color: var(--color-primaryInverse);
  background-color: var(--color-primary);

  &:hover:not([disabled]) {
    background-color: var(--color-primaryState);
  }

  &[disabled] {
    color: var(--color-primaryInverseState);
  }
}

.design-light {
  background: var(--color-light);
  color: var(--color-lightInverse);

  &:hover:not([disabled]) {
    background: var(--color-lightState);
  }

  &[disabled] {
    color: var(--color-lightInverseState);
  }
}

.design-silver {
  background: transparent;
  color: var(--color-lightInverse);

  &:hover:not([disabled]) {
    background: var(--color-lightState);
  }

  &[disabled] {
    color: var(--color-lightInverseState);
  }
}

.design-secondary {
  background: var(--color-secondary);
  color: var(--color-secondaryInverse);
  font-weight: 600;

  &:hover:not([disabled]) {
    background: var(--color-secondaryState);
  }

  &[disabled] {
    color: var(--color-secondaryInverseState);
  }
}

.design-fb {
  background: var(--color-facebook);
  color: #fff;
  &:hover:not([disabled]) {
    background-color: var(--color-fb-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-fb-active);
  }
}

.design-yandex {
  background: var(--color-yandex);
  color: #000;
  &:hover:not([disabled]) {
    background-color: var(--color-yandex-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-yandex-active);
  }
}

.design-vk {
  background-color: var(--color-vk);
  color: #fff;
  &:hover:not([disabled]) {
    background-color: var(--color-vk-hover);
  }
  &:active:not([disabled]) {
    background-color: var(--color-vk-active);
  }
}

.size-s {
  padding: 11px 15px;
  font-size: var(--text-size-s);
  &.rounded {
    padding: 11px;
  }
}

.size-m {
  padding: 12px 18px;
  font-size: var(--text-size-m);
  &.rounded {
    padding: 12px;
  }
}

.size-l {
  padding: 13px 20px;
  font-size: var(--text-size-l);

  &.rounded {
    padding: 13px;
  }
}

.rounded {
  border-radius: 50px;
}

.block {
  width: 100%;
}

.leading,
.trailing {
  display: inline-flex;
}

.leading {
  margin-right: 0.5em;
}

.trailing {
  margin-left: 0.5em;
}
