.item {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #000;
  user-select: none;
  svg {
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.design-light {
  svg {
    color: var(--dark-grey);
  }
  &:hover {
    background: var(--light-grey);
  }
  &:active {
    background: var(--medium-grey);
  }
}

.design-brand {
  &:hover {
    color: #fff;
    background: var(--color-brand);
  }
  &:active {
    color: #fff;
    background: var(--color-brand-active);
  }
}

.disabled {
  color: var(--dark-grey);
  cursor: default;
  svg {
    color: var(--medium-grey);
  }
  &:hover {
    color: var(--dark-grey);
    background: white;
  }
  &:active {
    color: var(--dark-grey);
    background: white;
  }
}

.divided {
  margin-bottom: 10px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: -10px;
    left: 0;

    border-bottom: 1px solid var(--medium-grey);
  }
  & + .item {
    margin-top: 10px;
  }
}
