.label {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  background-color: var(--ui-color-light);
  transition: background-color 0.3s;

  &_size-m {
    width: var(--ui-text-size-m);
    height: var(--ui-text-size-m);
    border-radius: 3.21429px;
    font-size: 9px;
  }

  &_size-l {
    width: var(--ui-text-size-l);
    height: var(--ui-text-size-l);
    border-radius: 4px;
    font-size: var(--ui-text-size-xs);
  }

  &_size-xl {
    width: var(--ui-text-size-xl);
    height: var(--ui-text-size-xl);
    border-radius: 5px;
    font-size: var(--ui-text-size-m);
  }

  &_size-xxl {
    width: var(--ui-text-size-xxl);
    height: var(--ui-text-size-xxl);
    border-radius: 6px;
    font-size: var(--ui-text-size-l);
  }

  &_type-radio {
    border-radius: 50%;
  }

  &_type-radio#{&}_size-m {
    font-size: 3px;
  }

  &_type-radio#{&}_size-l {
    font-size: 5px;
  }

  &_type-radio#{&}_size-xl {
    font-size: 6px;
  }

  &_type-radio#{&}_size-xxl {
    font-size: 8px;
  }

  .input:active + & {
    background-color: var(--ui-color-lightState);
  }

  .input:checked + & {
    color: var(--ui-color-secondaryInverse);
    background-color: var(--ui-color-secondary);
  }

  .input:disabled ~ & {
    cursor: default;
    background-color: var(--ui-color-light);
  }
  
  .input:checked:disabled ~ & {
    color: var(--ui-color-lightInverseState);
  }
}

.content {
  &_size-m,
  &_size-l {
    margin: -3px 0 -2px 9px;
  }

  &_size-xl {
    margin-left: 10px;
  }

  &_size-xxl {
    margin: 2px 0 0 12px;
  }

  .input:disabled ~ & {
    cursor: default;
    color: var(--ui-color-lightInverseState);
  }
}

.input {
  position: absolute;
  opacity: 0.01;
  width: 0.01px;
  height: 0.01px;
}
