.spinner,
.spinner:after {
  color: currentColor;
  background: transparent;
  width: calc(1em - 4px);
  height: calc(1em - 4px);
  text-indent: -9999em;
  border-top: 1.5px solid;
  border-right: 1.5px solid;
  border-bottom: 1.5px solid transparent;
  border-left: 1.5px solid;
  transform: translateZ(0);
  animation: spin 0.5s infinite linear;
  border-radius: 50%;
  display: inline-flex;
}

.inner {
  position: relative;
  height: 0;
  width: 0;
  opacity: 0;
  transition: margin 0.3s, opacity 0.3s, width 0.3s, height 0.3s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -0.5em;
  &.showed {
    height: 1em;
    width: 1em;
    opacity: 1;
    margin-right: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
