.tag {
    background-color: var(--ui-color-light);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.active,
    &:focus,
    &:hover {
        &:not(.current):not(.disabled) {
            background-color: var(--ui-color-lightState);
        }
        
    }

    &.disabled {
        color: var(--ui-color-lightInverseState);
        cursor: default;
    }
}

.disabled {
    color: var(--ui-color-lightInverseState);
}

.current {
    background-color: var(--ui-color-lightInverse);
    color: var(--ui-color-light);
}

.size-l {
    padding: 13px 15px 15px;
    border-radius: 25px;
}

.size-m {
    padding: 10px 15px;
    border-radius: 20px;
}

.size-s {
    padding: 9px 15px;
    border-radius: 18px;
}

.leading,
.trailing {
  display: inline-flex;
  flex-shrink: 0;
}

.leading {
  padding-right: 7px;
}

.trailing {
  padding-left: 7px;
}