.root {
  height: 100%;
  background: var(--lightest-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fileAttached {
  flex-shrink: 0;
}

.fileName {
  word-break: break-all;
  width: auto;
  margin: 5px;
}
