.root {
  height: 100%;
  background: var(--lightest-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fileAttached {
  flex-shrink: 0;
}

.fileName {
  word-break: break-all;
  width: auto;
  max-width: calc(100px - 35px);
  margin-left: 5px;
}
