.avatar {
  position: relative;
  flex-shrink: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_placeholder {
  background: var(--ui-color-light);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.onlineDot {
  position: absolute;
  right: 0;
  bottom: 0;
  border: 2px solid #fff;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background: var(--ui-color-success);
  transform: translate(0.25em, 0.25em);
}

.design-circle {
  width: 1.8em;
  height: 1.8em;

  .container {
    border-radius: 50%;
  }

  .onlineDot {
    right: 12%;
    bottom: 12%;
  }
}

.design-rect {
  width: 2.222em;
  height: 2.888em;

  .container {
    border-radius: var(--ui-border-radius-s);
  }

  .onlineDot {
    right: 5%;
    bottom: 5%;
  }
}
