.slider {
  position: relative;
}

.container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &_inline {
    white-space: nowrap;
  }

  &_flex {
    display: flex;
    flex-wrap: nowrap;
  }

  @media (min-width: 1024px) {
    overflow: hidden;

    &_scrollable {
      overflow: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      /* Chrome, Safari */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
