.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 732px) {
  .container {
    flex-wrap: nowrap;
  }

  .calendar {
    flex: 1 1 auto;

    &:not(:last-of-type) {
      margin-right: 30px;
    }
  }
}
